@font-face {
  font-family: 'iconfont';
  src: url('https://at.alicdn.com/t/font_1481503_vs9gwp3l92m.eot');
  src: url('https://at.alicdn.com/t/font_1481503_vs9gwp3l92m.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_1481503_vs9gwp3l92m.woff2') format('woff2'), url('https://at.alicdn.com/t/font_1481503_vs9gwp3l92m.woff') format('woff'), url('https://at.alicdn.com/t/font_1481503_vs9gwp3l92m.ttf') format('truetype'), url('https://at.alicdn.com/t/font_1481503_vs9gwp3l92m.svg#iconfont') format('svg');
  
  /* project id 1481503 */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0125rem;
  -moz-osx-font-smoothing: grayscale;
}
header {
  height: 2.8125rem;
  width: 20rem;
  background-color: #ffcf00;
  padding-top: 0.625rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  position: fixed;
  top: 0rem;
  z-index: 999;
}
header i {
  position: absolute;
  top: 0rem;
  left: 1.5625rem;
  color: #7f7c80;
  line-height: 3.125rem;
}
header input {
  width: 18.375rem;
  height: 1.8125rem;
  border: none;
  border-radius: 0.375rem;
  padding-left: 1.8125rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  font-size: 0.625rem;
  color: #7f7c80;
}
header input::-webkit-input-placeholder {
  font-size: 0.625rem;
  color: #7f7c80;
}
.order_menu {
  width: 20rem;
  height: 2.0625rem;
  text-align: center;
  position: fixed;
  top: 2.8125rem;
  z-index: 999;
  background-color: white;
}
.order_menu ul {
  overflow: hidden;
  display: inline-block;
}
.order_menu ul li {
  display: inline-block;
  height: 2.0625rem;
  padding: 0 0.625rem;
  float: left;
  line-height: 2.0625rem;
}
.order_menu ul li a {
  font-size: 0.6875rem;
  letter-spacing: 0.0625rem;
}
.order_menu ul li:nth-of-type(1) a {
  padding-bottom: 0.3125rem;
  border-bottom: 0.125rem solid #ffcf00;
}
.order_content {
  width: 20rem;
  height: auto;
  background: whitesmoke;
  padding: 0.3125rem 0.8125rem 2.8125rem 0.8125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4.5rem;
}
.order_content .order_banner {
  width: 18.4375rem;
  height: 5rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.order_content .order_banner .swiper-container {
  --swiper-pagination-color: white;
}
.order_content .order_banner .swiper-container img {
  width: 18.4375rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.order_content .order_information {
  width: 18.4375rem;
  margin: 0 auto;
  height: 9.0625rem;
  background-color: white;
  margin-top: 0.3125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.3125rem;
}
.order_content .order_information .order_title {
  height: 2.5625rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  line-height: 2.5625rem;
  padding-left: 0.6875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.order_content .order_information .order_title span {
  display: inline-block;
  width: 1.1875rem;
  height: 1.1875rem;
  border-radius: 50%;
  background-color: #ffbc02;
  vertical-align: middle;
  line-height: 1.1875rem;
}
.order_content .order_information .order_title span i {
  vertical-align: top;
  color: white;
  font-size: 0.875rem;
}
.order_content .order_information .order_title b {
  font-size: 0.75rem;
}
.order_content .order_information .order_title i {
  font-size: 0.75rem;
  font-weight: bold;
}
.order_content .order_information .order_title u {
  display: inline-block;
  text-decoration: none;
  font-size: 0.625rem;
  float: right;
  padding-right: 0.6875rem;
}
.order_content .order_information .order_contents {
  width: 18.4375rem;
  height: 4rem;
  padding: 0.625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.order_content .order_information .order_contents .order_contents_img {
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: aquamarine;
  float: left;
}
.order_content .order_information .order_contents_container {
  float: left;
}
.order_content .order_information .order_contents_container p {
  line-height: 1.25rem;
  font-size: 0.6875rem;
  margin-left: 0.5625rem;
  color: #8e8f8e;
}
.order_content .order_information .order_min_btn {
  width: 18.4375rem;
  height: 1.875rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-right: 0.6875rem;
}
.order_content .order_information .order_min_btn button {
  width: 4.25rem;
  height: 1.875rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.0625rem solid #8e8f8e;
  background: white;
  margin-left: 0.5rem;
  float: right;
}
.index_bottom_menu {
  width: 20rem;
  height: 2.8125rem;
  background-color: white;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  z-index: 999;
  border-top: 0.0625rem solid #e8dfdf;
}
.index_bottom_menu dl {
  width: 20rem;
  height: 2.8125rem;
  padding-top: 0.25rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}
.index_bottom_menu dl dd {
  width: 5rem;
  height: 2.8125rem;
  background-color: white;
  float: left;
  text-align: center;
}
.index_bottom_menu dl dd:nth-of-type(1) span {
  display: inline-block;
  height: 2.3125rem;
  width: 2.3125rem;
  background-color: #ffd400;
  border-radius: 50%;
  line-height: 2.3125rem;
}
.index_bottom_menu dl dd:nth-of-type(1) span i {
  font-size: 1.75rem;
}
.index_bottom_menu dl dd:nth-of-type(1) i {
  font-size: 1.5rem;
}
.index_bottom_menu dl dd:nth-of-type(1) section {
  width: 100%;
  height: 0.625rem;
  font-size: 0.5625rem;
}
.index_bottom_menu dl dd:nth-of-type(2) i {
  font-size: 1.5rem;
}
.index_bottom_menu dl dd:nth-of-type(2) section {
  width: 100%;
  height: 0.625rem;
  font-size: 0.5625rem;
}
.index_bottom_menu dl dd:nth-of-type(3) i {
  font-size: 1.5rem;
}
.index_bottom_menu dl dd:nth-of-type(3) section {
  width: 100%;
  height: 0.625rem;
  font-size: 0.5625rem;
}
.index_bottom_menu dl dd:nth-of-type(4) i {
  font-size: 1.5rem;
}
.index_bottom_menu dl dd:nth-of-type(4) section {
  width: 100%;
  height: 0.625rem;
  font-size: 0.5625rem;
}
.video_left_container {
  position: relative;
  margin-top: 0.625rem;
}
.video_left_container .select {
  position: absolute;
  left: 0;
  top: 0;
}
.video_right_container {
  position: relative;
  margin-top: 0.625rem;
}
.video_right_container .select {
  position: absolute;
  left: 0;
  top: 0;
}
.video_left_container:nth-of-type(1) {
  margin-top: 0;
}
.video_right_container:nth-of-type(1) {
  margin-top: 0;
}
