@font-face {
    font-family: 'iconfont';  /* project id 1481503 */
    src: url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.eot');
    src: url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:1rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.0125rem;
    -moz-osx-font-smoothing: grayscale;
}
.find_header{
    width: 20rem;
    height: 2.8125rem;
    background: #ffcf00;
    h1{
        line-height: 2.8125rem;
        text-align: center;
        font-size: 0.9375rem;
    }
}
// 设置滚动条样式
.nav_bar::-webkit-scrollbar { display: none !important }
.nav_bar{
    width: 20rem;
    height: 2rem;
    background: red;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 0.6875rem;
    overflow: hidden;
    overflow-x: scroll;
    ul{
        width: 200%;
        overflow: hidden;
        li{
            float: left;
            height: 2rem;
            width: 3rem;
            font-size: 0.6875rem;  
            text-align: center;
            line-height: 2rem;
        }
    }
}
.display_video{
    width: 18.625rem;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    background-color: rebeccapurple;
    padding-top: 0.625rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .video_right{
        width: 50%;
        height: 216px;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding-right: 0.125rem;
        padding-left: 0.25rem;
        background: aqua;
        .video{
            width: 144px;
            height: 144px;
            background-color: red;
            border-radius: 0.25rem;
        }
    }
    .video_left{
        width: 50%;
        height: 216px;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding-left: 0.125rem;
        padding-right: 0.25rem;
        background-color: gold;
        .video{
            width: 144px;
            height: 144px;
            background-color: red;
            border-radius: 0.25rem;
        }
    }
}