// 阿里字体图标库引入
@font-face {
    font-family: 'iconfont';  /* project id 1481503 */
    src: url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.eot');
    src: url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1481503_7ltzw2iwfy.svg#iconfont') format('svg');
  }
.iconfont{
        font-family:"iconfont" !important;
        font-size:1rem;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.0125rem;
        -moz-osx-font-smoothing: grayscale;
}
.public_header{
    width: 20rem;
    height: 3.125rem;
    background: #ffd400;
    overflow: hidden;
    position: fixed;
    top:0rem;
    left: 0rem;
    z-index: 999;
    .Headportrait_container{
        width: 3.125rem;
        height: 2.8125rem;
        // background: aqua;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding-top: 0.875rem;
        padding-left: 0.9375rem;
        i{
            font-size: 1.6875rem; 
            font-style: normal;
        }
    }
    .header_address{
        width: 3rem;
        height: 2.8125rem;
        // background: antiquewhite;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding-top: 0.9375rem;
        text-align: left;
        i{
            font-weight: bold;
            display: none;
        }
        b{
            font-style: normal;
            font-weight: bold;
            font-size: 0.8125rem;
            height: 1rem;
            display: inline-block;
        }
        u{
            position: relative;
            font-size: 0.5rem;
            text-decoration: none;
            top: -0.3125rem;
            display: inline-block;
            height: 0.625rem;
        }
    }
    .public_search{
        width: 9.25rem;
        height: 2.8125rem;
        // background: rosybrown;
        float: left;
        padding-top: 0.8125rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        input{
            padding: 0;
            margin: 0;
            width: 9.25rem;
            height: 1.8125rem;
            border: none;
            outline: none;
            padding-left: 0.8125rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-radius: 0.375rem;
            font-size: 0.625rem;
        }
        input::-webkit-input-placeholder {
            font-size: 0.625rem;
        }
    }
    .public_Other{
        width: 4.625rem;
        height: 2.8125rem;
        // background: red;
        padding-top: 0.8125rem;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        i{
            display: inline-block;
            width: 2.3125rem;
            height: 1.9375rem;
            line-height: 1.9375rem;
            font-size: 1.25rem;
            float: left;
            text-align: center;
        }
    }
    
}
.hot_search{
    width: 100%;
    height: 1.625rem;
    background: #ffcf00;
    overflow: hidden;
    margin-top: 2.8125rem;
    dl{
        height: 1.625rem;
        dt{
            padding: 0.5rem 0;
            padding-right: 0rem;
            padding-left: 1.125rem;
            float: left;
            font-size: 0.625rem;
            height: 1.625rem;
            text-align: center;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        dd{
            padding: 0.5rem 0;
            float: left;
            font-size: 0.625rem;
            height: 1.625rem;
            text-align: center;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            line-height: 0.8125rem;
            a{
                border-right: 0.0625rem solid black;
                padding: 0 0.5rem;
            }
            i{
                vertical-align: top;
            }
        }
        dd:nth-last-of-type(1){
            a{
                border-right: 0.0625rem solid #ffcf00;
            }
        }
        
    }
}
.index_menu_container{
    height: 13.875rem;
    overflow: hidden;
}
.public_header_bg{
    width: 100%;
    height: 8.4375rem;
    background-image: linear-gradient(to bottom,#ffcf00 50%,white 100%);
    .header_menu{
        width: 18.875rem;
        // height: 13.875rem;
        background: white;
        margin: 0 auto;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        dl{
            width: 100%;
            overflow: hidden;
            dd{
                float: left;
                height: 3.75rem;
                background: white;
                width: 3.775rem;
                text-align: center;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding-top: 0.75rem;
                a{
                        i{
                            font-size: 1.375rem;
                            color: #ff4382 !important;
                        }
                }
                section{
                    a{
                        font-size: 0.6875rem;
                        color: #7d7c7d;
                    }
                }
            }
        }
        ul{
            padding: 0rem 0.375rem;
            overflow: hidden;
            li{
                float: left;
                padding: 0.875rem 0.375rem 0.4375rem 0.4375rem;
                text-align: center;
                span{
                    display: inline-block;
                    width: 2.75rem;
                    height: 2.75rem;
                    background: #ff8201;
                    border-radius: 0.625rem;
                    text-align: center;
                    position: relative;
                    line-height: 2.75rem;
                    i{
                        font-size: 1.75rem;
                        color: white;
                    }
                    b{
                        display: inline-block;
                        padding: 0.125rem;
                        height: 0.75rem;
                        background: red;
                        border-radius: 0.375rem;
                        position: absolute;
                        top: -0.5rem;
                        left: 1.6125rem;
                        line-height: 0.75rem;
                        color: white;
                        font-weight: normal;
                        font-size: 0.625rem;
                        vertical-align: top;
                        white-space: nowrap;
                    }
                }
                section{
                    a{
                        color: #7d7c7d;
                        font-size: 0.6875rem;
                    }
                }
            }
            li:nth-of-type(2){
                span{
                    display: inline-block;
                    width: 2.75rem;
                    height: 2.75rem;
                    background: #fe4203;
                    border-radius: 0.625rem;
                    i{
                        font-size: 2.1875rem;
                    }
                }
            }
            li:nth-of-type(3){
                span{
                    display: inline-block;
                    width: 2.75rem;
                    height: 2.75rem;
                    background: #a56849;
                    border-radius: 0.625rem;
                }
            }
            li:nth-of-type(4){
                span{
                    display: inline-block;
                    width: 2.75rem;
                    height: 2.75rem;
                    background: #00be93;
                    border-radius: 0.625rem;
                }
            }
            li:nth-of-type(5){
                span{
                    display: inline-block;
                    width: 2.75rem;
                    height: 2.75rem;
                    background: #ffc501;
                    border-radius: 0.625rem;
                    i{
                        font-size: 2.1875rem;
                    }
                }
            }
        }
    }
}
/*轮播图*/  
.index_banner{
    clear: both;
    width: 18.375rem;
    height: 5rem;
    // background: aqua;
    margin: 0 auto;
    border-radius: 0.5rem;
    .swiper-container{
            --swiper-pagination-color: white;
        .swiper-wrapper{
           .swiper-slide{
               img{
                   width: 18.375rem;
                   height: 5rem;
                   border-radius: 0.5rem;
               }
           } 
        }
    }
}
.commodity_display{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,white 0%,#f7f7f7 10%);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0rem 0.8125rem;
    padding-bottom: 2.8125rem;
    ul{
        padding-top: 0.5rem;
        width: 9rem;
        overflow: hidden;
        float: left;
        li{
            width: 9rem;
            text-align: left;
            background-color: white;
            border-radius: 0.25rem;
            margin-top: 0.5625rem;
            margin-left: 0.5rem;
            img{
                width: 9rem;
                height: 7.0625rem;
            }
            b{
                display: block;
                font-size: 0.6875rem;
                line-height: 0.75rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding: 0.25rem 0.625rem 0.25rem 0.5625rem;
            }
            section:nth-of-type(1){
                display: block;
                width: 9rem;
                height: 2.875rem;
                // background: antiquewhite;
                p{
                    width: 100%;
                    height: 1.3125rem;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    font-size: 0.5625rem;
                    line-height: 1.3125rem;
                    padding-left: 0.5625rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    padding-right: 0.25rem;
                    color: #999799;
                }
                span{
                    display: block;
                    width: 100%;
                    height: 1.5625rem;
                    // background-color: aqua;
                    padding-left: 0.5rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    b{
                        display: inline-block;
                        font-size: 0.75rem;
                        color: #eb5601;
                        line-height: 1.5625rem;
                        height: 1.5625rem;
                        padding: 0rem;
                        margin: 0;
                    }
                    s{
                        display: inline-block;
                        font-size: 0.5rem;
                        color: #a19ea3;
                        margin-left: -0.125rem;
                    }
                    span{
                        display: inline-block;
                        width: 2.625rem;
                        height: 0.75rem;
                        background: #f8d9d8;
                        vertical-align: middle;
                        border-radius: 0.1875rem;
                        font-size: 0.5625rem;
                        color: #eb5601;
                        padding: 0;
                    }
                }
            }
            section:nth-of-type(2){
                width: 9rem;
                height: 1.75rem;
                // background: darkblue;
                padding-left: 0.5rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                b{
                    display: inline-block;
                    line-height: 0.875rem;
                    padding: 0rem;
                    color: #959393;
                    font-size: 0.5625rem;
                }
                u{
                    display: inline-block;
                    text-decoration: none;
                    color: #959393;
                    float: right;
                    padding-right: 0.625rem;
                }
            }
        }
    }
}
.index_bottom_menu{
    width: 100%;
    height: 2.8125rem;
    background-color:white;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    z-index: 999;
    dl{
        width: 100%;
        height: 2.8125rem;
        padding-top: 0.25rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
        dd{
            width: 5rem;
            height: 100%;
            background-color: white;
            float: left;
            text-align: center;
            // line-height: 2.8125rem;
           
        }
        dd:nth-of-type(1){
            span{
                display: inline-block;
                height: 2.3125rem;
                width: 2.3125rem;
                background-color: #ffd400;
                border-radius: 50%;
                line-height: 2.3125rem;
                i{
                    font-size: 1.75rem;
                }
            }
        }
        dd:nth-of-type(1){
            i{
                font-size: 1.5rem;
            }
            section{
                width: 100%;
                height: 0.625rem;
                font-size: 0.5625rem;
            }
        }
        dd:nth-of-type(2){
            i{
                font-size: 1.5rem;
            }
            section{
                width: 100%;
                height: 0.625rem;
                font-size: 0.5625rem;
            }
        }
        dd:nth-of-type(3){
            i{
                font-size: 1.5rem;
            }
            section{
                width: 100%;
                height: 0.625rem;
                font-size: 0.5625rem;
            }
        }
        dd:nth-of-type(4){
            i{
                font-size: 1.5rem;
            }
            section{
                width: 100%;
                height: 0.625rem;
                font-size: 0.5625rem;
            }
        }
    }
}
.index_login{
    position: fixed;
    bottom: 2.8125rem;
    width: 100%;
    height: 2.8125rem;
    background: rgba(0,0,0,.7);
    z-index: 999;
    button{
        border: none;  
        outline: none;
        background: #ffd400;
        border-radius: 0.3125rem;
        padding:0.3125rem 0.5rem;
        font-size: 0.625rem;
        float: right;
        margin-top: 0.625rem;
        margin-right: 0.9375rem;
    }
    p{
        display: inline-block;
        line-height: 2.8125rem;
        color: white;
        font-size: 0.75rem;
        padding-left: 0.9375rem;

    }
}